@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-luxuryDark bg-white scroll-smooth;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}
